
*{
    box-sizing: border-box;
}


#header{
height: 200px;
background-image: url(./header.jpg);
    background-size: cover;
    background-position: center;
}

#title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background: hsla(33, 52%, 71%, 0.272)
}
